Debug
/TMTest3.v12.suo
/*.opensdf
/*.sdf
/ipch/tmtest3-a05bf50/*.ipch
/ClassView.cpp.LOCAL.cpp
/ClassView.cpp.BASE.cpp
/ClassView.cpp.REMOTE.cpp
/TMTest3.aps
/ChildFrm.h.BASE.h
/ChildFrm.h.LOCAL.h
/ChildFrm.h.REMOTE.h
/FileView.cpp.BASE.cpp
/FileView.cpp.LOCAL.cpp
/FileView.cpp.REMOTE.cpp
/ipch/tmtest3-f7f1d37d/tmtest3-160ccc80.ipch
